@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --fs-xl: 7rem;
  --fs-600: 2rem;
  --fs-500: 1.5em;
  --fs-400: 1.125rem;
  --fs-300: 0.8rem;

  --clr-primary: white;
  --blur-intensity: 0px;
}

@media (max-width: 1200px) {
  :root {
    --fs-xl: 5.5rem;
    --fs-600: 1.75rem;
    --fs-500: 1.375rem;
  }
}

@media (max-width: 1000px) {
  :root {
    --fs-xl: 4rem;
    --fs-600: 1.25rem;
    --fs-500: 1.125rem;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', system-ui;
  font-size: var(--fs-400);
  color: white;
  line-height: 1.5;
}

main {
  width: min(1200px, 100% - 4rem);
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-inline: auto;
}

.bg {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgb(99, 174, 244);
  background: linear-gradient(180deg, rgba(99, 174, 244, 1) 0%, rgba(44, 95, 143, 1) 100%);
}

.bg img {
  position: absolute;
  left: calc(-2 * var(--blur-intensity));
  right: 0;
  top: calc(-2 * var(--blur-intensity));
  bottom: 0;
  width: calc(100% + 4 * var(--blur-intensity));
  height: calc(100% + 4 * var(--blur-intensity));
  object-fit: cover;
  filter: blur(var(--blur-intensity)) brightness(80%);
}

.card {
  max-width: 100%;
  padding: 1rem;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.hidden {
  display: none;
  opacity: 0;
}

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#current-weather {
  display: grid;
  grid-template-columns: 1fr 0.8fr 1fr;
  justify-items: center;
  font-size: var(--fs-500);
  gap: 3rem;
  padding: 3rem;
}

#main {
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  align-items: center;
}

#location {
  display: grid;
  grid-template-columns: auto auto 1em;
  gap: 10px;
}

.spinner-group {
  position: relative;
}

.loc-pin {
  visibility: hidden;
}
.loc-pin.visible {
  visibility: visible;
}

.spinner {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
}
.spinner:not(.hidden) {
  transform-origin: center;
  animation-duration: 0.7s;
  animation-name: spinner;
  animation-iteration-count: infinite;
  animation-timing-function: steps(8, end);
}
@keyframes spinner {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

#loc,
#search {
  font-weight: bold;
  background: transparent;
  border: none;
  color: var(--clr-primary);
}

#loc:focus-visible,
#search:focus-visible {
  outline: 2px solid var(--clr-primary);
  outline-offset: 3px;
  border-radius: 3px;
}

#loc {
  text-overflow: ellipsis;
  width: 100%;
}

#loc:hover:not(:focus) {
  text-decoration: underline;
}

#loc::placeholder {
  color: var(--clr-primary);
  font-weight: 300;
  opacity: 0.4;
}

#search {
  visibility: hidden;
  font-size: 0.1em;
  transition: font-size 0.3s 0s, visibility 0s 0.3s;
}
#search.visible {
  transition: visibility 0s, font-size 0.3s;
  visibility: visible;
  font-size: 0.9em;
}

#date,
#time-group,
#details {
  font-weight: 300;
}

#temp-group {
  font-size: var(--fs-xl);
}

.unit-toggle-group {
  font-size: var(--fs-400);
  color: var(--clr-primary);
  opacity: 0.4;
}

button.unit-toggle {
  border: none;
  background-color: transparent;
  color: var(--clr-primary);
}

button.unit-toggle:hover {
  text-decoration: underline;
}

button:hover {
  cursor: pointer;
}

#current-condition {
  width: 100%;
  font-size: var(--fs-600);
  font-weight: 300;
  font-weight: bold;
  text-align: center;
}

#condition-icon {
  width: 100%;
}

#details {
  line-height: 1.8;
}

.detail-group > i:first-child {
  width: 3ch;
}

.detail-group > #wind_dir {
  margin-right: 1ch;
}

#forecast {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  margin-top: 10px;
  gap: 10px;
}

#forecast .card {
  align-items: center;
  justify-content: start;
  text-align: center;
  gap: 5px;
}

.day {
  font-weight: 300;
}

.forecast-icon {
  width: min(200px, 100%);
}

.high-low {
  display: flex;
  gap: 1ch;
}

.high-temp {
  font-weight: 500;
}

.low-temp {
  font-weight: 300;
  opacity: 0.6;
}

.precipitation {
  font-size: var(--fs-300);
  opacity: 0.6;
}

@media (max-width: 800px) {
  main {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  #current-weather {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  #current-condition {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    align-self: center;
  }
  #details {
    justify-self: start;
  }
}

@media (max-width: 600px) {
  #main {
    justify-self: center;
    text-align: center;
  }
  #loc {
    text-align: center;
  }
  #current-weather {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
    gap: 0rem;
    padding: 1.5rem;
  }
  #current-condition {
    grid-column: auto;
    grid-row: auto;
    align-self: center;
    max-height: 250px;
  }
  #condition-icon {
    height: 200px;
    width: auto;
  }
  #details {
    padding-top: 2rem;
    justify-self: center;
  }
}
