@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --fs-xl: 6rem;
  --fs-600: 2rem;
  --fs-500: 1.5rem;
  --fs-400: 1.125rem;
  --fs-300: 0.8rem;

  --clr-primary: white;

  --blur-intensity: 0px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', system-ui;
  font-size: var(--fs-400);
  color: white;
  line-height: 1.5;
}

main {
  width: min(1200px, 100% - 4rem);
  margin-top: 5rem;
  margin-inline: auto;
}

.bg {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgb(99, 174, 244);
  background: linear-gradient(180deg, rgba(99, 174, 244, 1) 0%, rgba(44, 95, 143, 1) 100%);
}

.bg img {
  position: absolute;
  left: calc(-2 * var(--blur-intensity));
  right: 0;
  top: calc(-2 * var(--blur-intensity));
  bottom: 0;
  width: calc(100% + 4 * var(--blur-intensity));
  height: calc(100% + 4 * var(--blur-intensity));
  object-fit: cover;
  filter: blur(var(--blur-intensity)) brightness(80%);
}

.card {
  max-width: 100%;
  padding: 1rem;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.hidden {
  display: none;
}

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#current-weather {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  font-size: var(--fs-500);
  gap: 3rem;
  padding: 3rem;
}

#location {
  display: flex;
  gap: 1ch;
}

#loc,
#search {
  font-weight: bold;
  background: transparent;
  border: none;
  color: var(--clr-primary);
}

#loc {
  width: 100%;
}

#date,
#time-group,
#details {
  font-weight: 300;
}

#temp-group {
  font-size: var(--fs-xl);
}

button.unit-toggle {
  border: none;
  background-color: transparent;
  color: var(--clr-primary);
}

button.unit-toggle:hover {
  text-decoration: underline;
}

button:hover {
  cursor: pointer;
}

#current-condition {
  width: 100%;
  font-size: var(--fs-600);
  font-weight: 300;
  font-weight: bold;
  text-align: center;
}

#condition-icon {
  width: min(200px, 100%);
  height: auto;
}

#details {
  line-height: 1.8;
}

.detail-group > i:first-child {
  width: 3ch;
}

.detail-group > #wind_dir {
  margin-right: 1ch;
}

.unit-toggle-group {
  font-size: var(--fs-400);
  color: var(--clr-primary);
  opacity: 0.4;
}

#forecast {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 10px;
  gap: 10px;
}

#forecast .card {
  align-items: center;
  justify-content: start;
  text-align: center;
  gap: 5px;
}

.day {
  font-weight: 300;
}

.forecast-icon {
  width: min(200px, 100%);
}

.high-low {
  display: flex;
  gap: 1ch;
}

.high-temp {
  font-weight: 500;
}

.low-temp {
  font-weight: 300;
  opacity: 0.6;
}

.precipitation {
  font-size: var(--fs-300);
  opacity: 0.6;
}
